// Theme
$button-border-color: #ffffff;
$delete-color: rgba(255, 105, 105, 0.7);
$edit-color: rgba(138, 43, 226, 0.7);
$primary-color: rgba(246, 139, 31, 0.1);
$secondary-color: rgba(25, 185, 225, 0.7);
$tertiary-color: rgba(255, 152, 0, 0.7);
$checkbox-color: rgba(119, 221, 119, 0.7);

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

.todo-container {
  background-color: $primary-color;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 700px;

  @media (max-width: $breakpoint-tablet) {
    width: 90%;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 90%;
  }

  .todo-header {
    color: #fafafa;
    font-size: calc(1em + 1vw);
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 3px $secondary-color;
  }

  .todo-input-container {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-tablet) {
      align-items: center;
      flex-direction: row;
    }

    .todo-input {
      background-color: #393e46;
      color: #ffffff;
      flex-grow: 1;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1rem;
      margin-bottom: 10px;
      overflow: hidden;
      padding: 10px 15px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:focus {
        outline: none;
      }

      @media (max-width: $breakpoint-tablet) {
        font-size: 0.8rem;
        padding: 5px 10px;
      }
    }

    .add-button {
      animation: floating 0.8s ease-in-out infinite;
      background-color: transparent;
      border: 2px solid $button-border-color;
      border-radius: 5px;
      box-shadow: inset 0 0 10px $tertiary-color;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: 'Press Start 2P', cursive;
      font-size: 1rem;
      margin-left: 1rem;
      padding: 10px 20px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgba($tertiary-color, 0.3);
      }

      &:active {
        background-color: rgba($tertiary-color, 0.3);
      }

      @media (max-width: $breakpoint-tablet) {
        font-size: 0.8rem;
        margin: 0 0.3rem;
        padding: 5px 10px;
      }
    }
  }

  .todo-list {
    color: #ffffff;
    list-style: none;
    padding-left: 0;

    .task-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .task-checkbox {
      appearance: none;
      background-color: transparent;
      border: 2px solid $button-border-color;
      border-radius: 50%;
      cursor: pointer;
      height: 20px;
      margin-right: 20px;
      position: relative;
      width: 20px;

      &::before {
        color: #fff;
        content: '';
        display: none;
        font-size: 14px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:checked {
        background-color: $checkbox-color;
        border-color: $checkbox-color;

        &::before {
          content: '\2713';
          display: block;
        }
      }

      &:focus {
        outline: none;
      }

      &:hover {
        border-color: $checkbox-color;
      }
    }

    .task-text.task-text-completed {
      text-decoration: line-through;
    }

    .todo-item.completed {
      opacity: 0.6;
    }

    .todo-item {
      background: linear-gradient(120deg, #393e46, #535c68);
      border-radius: 5px;
      color: #ffffff;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1rem;
      margin-bottom: 10px;
      padding: 5px 10px;

      .edit-input {
        background-color: #393e46;
        color: #ffffff;
        flex-grow: 1;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1rem;
        padding: 5px 10px;
        text-transform: none;

        @media (max-width: $breakpoint-tablet) {
          font-size: 0.8rem;
        }
      }

      &:focus {
        outline: none;
      }

      .edit-input-container,
      .task-display {
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-transform: none;
        width: 100%;
      }

      .edit-button,
      .delete-button {
        background-color: transparent;
        border: 2px solid $button-border-color;
        border-radius: 5px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Press Start 2P', cursive;
        font-size: 1rem;
        margin: 0 0.3rem;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
      }

      .edit-button {
        box-shadow: inset 0 0 10px $edit-color;

        &:hover {
          background-color: rgba($edit-color, 0.2);
        }

        &:active {
          background-color: rgba($edit-color, 0.2);
        }
      }

      .delete-button {
        box-shadow: inset 0 0 10px $delete-color;

        &:hover {
          background-color: rgba($delete-color, 0.3);
        }

        &:active {
          background-color: rgba($delete-color, 0.3);
        }
      }

      .save-button {
        background-color: transparent;
        border: 2px solid $button-border-color;
        border-radius: 5px;
        box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.7);
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Press Start 2P', cursive;
        font-size: 1rem;
        margin-top: 0.5rem;
        padding: 10px 20px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 0, 0.2);
        }

        &:active {
          background-color: rgba(255, 255, 0, 0.2);
        }

        @media (min-width: $breakpoint-tablet) {
          margin-left: 1rem;
          margin-top: 0;
        }
      }

      .edit-button,
      .delete-button,
      .save-button {
        @media (max-width: $breakpoint-tablet) {
          font-size: 0.8rem;
          margin: 0 0.3rem;
          padding: 5px 10px;
        }
      }
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
