.global-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.global-button {
  animation: floating 0.8s ease-in-out infinite;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(255, 152, 0, 0.3);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 5px;
  padding: 10px 20px;
  // position: relative;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

a.global-button {
  text-decoration: none;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

.global-button::before {
  background: linear-gradient(
    45deg,
    transparent 0%,
    rgba(255, 152, 0, 0.3) 50%
  );
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: 0%;
  z-index: -1;
}

.global-button:hover::before {
  width: 100%;
}

.global-button:hover {
  box-shadow: inset 0 0 10px rgba(255, 152, 0, 0.5),
    0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.global-button:active {
  background-color: rgba(255, 140, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(255, 152, 0, 0.5);
  transform: translateY(0);
}

.global-button-arrow,
.global-button-text {
  display: inline-block;
  vertical-align: middle;
}

.global-button-arrow {
  margin-right: 5px;
  position: relative;
  top: -2px;
}
