.tic-tac-toe-home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 2rem);
  padding-top: 2rem;

  .tic-tac-toe-home-back-button {
    left: 1rem;
    position: absolute;
    top: 1rem;
    z-index: 1;
  }

  .tic-tac-toe-home-header {
    text-align: center;
  }

  .header-text {
    color: white;
    font-size: calc(20px + 2vmin);
    margin-bottom: 2rem;
    position: relative;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(255, 152, 0, 0.7);
  }

  .header-text::after {
    background-color: rgba(255, 152, 0, 0.5);
    bottom: -0.5rem;
    content: '';
    height: 0.2rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .header-text-react::after {
    width: 50%;
  }

  .header-text-tic-tac-toe::after {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .tic-tac-toe-home-container {
    height: calc(100vh - 6rem);
    padding-top: 6rem;

    .tic-tac-toe-home-header {
      font-size: calc(20px + 1vmin);
    }
  }
}
