.basic-calculator-title {
  color: white;
  font-size: calc(15px + 2vmin);
  margin-bottom: 2rem;
  margin-top: 3rem;
  position: relative;
  text-shadow: 2px 2px 3px rgba(255, 152, 0, 0.7);
  text-align: center;
}

.basic-calculator-title::after {
  background-color: rgba(26, 164, 195, 0.5);
  bottom: -0.5rem;
  content: '';
  height: 0.2rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 65%;
}

.basic-calculator {
  background-color: #282c34;
  border: 4px solid #ffffff;
  border-radius: 10px;
  max-width: 250px;
  padding: 1rem;
  width: 100%;

  .display {
    background-color: #282c34;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    max-width: 15.3rem;
    padding-bottom: 1rem;
    text-align: right;
  }

  .buttons {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .number-button,
  .operation-button,
  .clear-button,
  .equal-button {
    animation: floating 0.8s ease-in-out infinite;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 0;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  .number-button {
    box-shadow: inset 0 0 10px rgba(255, 152, 0, 0.7);

    &:hover {
      background-color: rgba(255, 152, 0, 0.3);
    }

    &:active {
      background-color: rgba(255, 140, 0, 0.3);
    }
  }

  .operation-button {
    box-shadow: inset 0 0 10px rgba(255, 105, 105, 0.7);

    &:hover {
      background-color: rgba(255, 105, 105, 0.3);
    }

    &:active {
      background-color: rgba(255, 105, 105, 0.3);
    }
  }

  .clear-button {
    box-shadow: inset 0 0 10px rgba(138, 43, 226, 0.7);
    margin-top: 0.5rem;

    &:hover {
      background-color: rgba(138, 43, 226, 0.2);
    }

    &:active {
      background-color: rgba(138, 43, 226, 0.2);
    }
  }

  .equal-button {
    box-shadow: inset 0 0 10px rgba(255, 255, 0, 0.7);
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 3;

    &:hover {
      background-color: rgba(255, 255, 0, 0.2);
    }

    &:active {
      background-color: rgba(255, 255, 0, 0.2);
    }
  }
}
