.main-menu-container {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;

  .main-menu-header {
    color: white;
    font-size: calc(25px + 2vmin);
    margin-bottom: 2rem;
    position: relative;
    text-decoration: none;
  }

  .main-menu-header::after {
    background-color: #ffa07a;
    bottom: -0.25rem;
    content: '';
    filter: brightness(85%);
    height: 0.2rem;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .global-button-container {
    margin-top: 1rem;
  }
}
