@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.global-page-container {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background-color: #282c34;
  background-image: radial-gradient(circle at center, #282c34, #1c1f26);
  display: flex;
  font-family: 'Press Start 2P', cursive;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-transform: uppercase;

  .pixelated-grid {
    background-image: repeating-linear-gradient(
        0deg,
        transparent,
        transparent 15px,
        rgba(246, 139, 31, 0.1) 15px,
        rgba(246, 139, 31, 0.1) 16px
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        transparent 15px,
        rgba(246, 139, 31, 0.1) 15px,
        rgba(246, 139, 31, 0.1) 16px
      );
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    // z-index: -1;
  }

  p {
    color: white;
  }
}
